#top-webservice1
.container.mt-4.mb-3
  .row
    .col

  .row.justify-content-center
    .col-4.access
      %h1 Login success
      %p Sistema de autenticación biométrico.
      %img{'src' => "data:image/jpg;base64,#{@img}", 'class' => 'img-fluid'}
    .col-6
      %h3.text-dark= @mail
      .alert.alert-success{'role' => 'alert'}
        %strong #{@response.code} - #{@response.message}
        %pre= @response.body
      =link_to 'Salir', root_path, class: 'btn btn-success btn-block'
